body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin: 0;
  color: white;
  user-select: none;
}
.container_day {
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url(./photo/phone1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container_night {
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url(./photo/phone2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rules_day {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgb(9, 83, 47);
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 65px;
  align-items: center;
  justify-content: center;
  border: 4px solid black;
  cursor: pointer;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
}
.rules_day:hover {
  background-color: rgb(219, 193, 49);
}
.rules_night {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgb(138, 43, 226);
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 65px;
  align-items: center;
  justify-content: center;
  border: 4px solid black;
  cursor: pointer;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
}
.rules_night:hover {
  background-color: rgb(36, 84, 216);
}

.logo {
  margin-top: -5%;
}
.button1_day {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(9, 83, 47);
  border-radius: 15px;
  border: 3px solid black;
  width: 290px;
  height: 70px;
  font-size: 35px;
  font-family: kavoon;
  cursor: pointer;
  border-bottom: 7px solid black;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
}
.button1_day:hover {
  background-color: rgb(219, 193, 49);
}
.button2_day {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(9, 83, 47);
  border-radius: 15px;
  border: 3px solid black;
  width: 290px;
  height: 70px;
  font-size: 35px;
  border-bottom: 7px solid black;
  font-family: kavoon;
  cursor: pointer;
  margin-top: 20px;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
}
.button2_day:hover {
  background-color: rgb(219, 193, 49);
}
.button3_day {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(9, 83, 47);
  border-radius: 15px;
  border: 3px solid black;
  width: 290px;
  border-bottom: 7px solid black;
  height: 70px;
  font-size: 35px;
  font-family: kavoon;
  cursor: pointer;
  margin-top: 20px;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
}
.button3_day:hover {
  background-color: rgb(219, 193, 49);
}
.button4_day {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(9, 83, 47);
  border-radius: 15px;
  border: 3px solid black;
  width: 290px;
  height: 70px;
  font-size: 35px;
  font-family: kavoon;
  cursor: pointer;
  border-bottom: 7px solid black;
  margin-top: 20px;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
  color: white;
}
.button4_day:hover {
  background-color: rgb(219, 193, 49);
}
.button1_night {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 46, 46);
  border-radius: 15px;
  border: 3px solid black;
  width: 290px;
  height: 70px;
  font-size: 35px;
  font-family: kavoon;
  cursor: pointer;
  border-bottom: 7px solid black;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
}
.button1_night:hover {
  background-color: rgb(102, 0, 255);
}
.button2_night {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 46, 46);
  border-radius: 15px;
  border: 3px solid black;
  width: 290px;
  height: 70px;
  font-size: 35px;
  border-bottom: 7px solid black;
  font-family: kavoon;
  cursor: pointer;
  margin-top: 20px;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
}
.button2_night:hover {
  background-color: rgb(102, 0, 255);
}
.button3_night {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 46, 46);
  border-radius: 15px;
  border: 3px solid black;
  width: 290px;
  border-bottom: 7px solid black;
  height: 70px;
  font-size: 35px;
  font-family: kavoon;
  cursor: pointer;
  margin-top: 20px;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
}
.button3_night:hover {
  background-color: rgb(102, 0, 255);
}
.button4_night {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 46, 46);
  border-radius: 15px;
  border: 3px solid black;
  width: 290px;
  height: 70px;
  font-size: 35px;
  font-family: kavoon;
  cursor: pointer;
  border-bottom: 7px solid black;
  margin-top: 20px;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
  color: white;
  text-decoration: none;
}
.button4_night:hover {
  background-color: rgb(102, 0, 255);
}
.container_beta {
  display: flex;
  align-items: end;
  margin-left: 5%;
  width: 100%;
  height: 20%;
}
.text_beta {
  color: white;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
}

/*?/////////////////////////////////daynight_button////////////////////////////////////////////////// */
.day {
  width: 100px;
  height: 50px;
  background-color: rgb(143, 231, 255);
  border-radius: 35px;
  border: 5px solid rgb(0, 143, 205);
  cursor: pointer;
}
.sun {
  position: absolute;
  bottom: 20px;
  width: 38px;
  height: 38px;
  background-color: rgb(255, 255, 0);
  border-radius: 50%;
  border: 4px solid rgb(229, 187, 0);
}

.cloud {
  position: absolute;
  left: 46px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 0%, 0),
    hsla(0, 0%, 0%, 0.1)
  );
  border-radius: 1em;
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.5);
  display: inline-block;
  height: 1em;
  width: 40px;
  cursor: pointer;
  z-index: 1;
}
.cloud:after,
.cloud:before {
  background-color: #fff;
  content: "";
  border-radius: 100%;
  position: absolute;
}
.cloud:after {
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 0%, 0) 50%,
    hsla(0, 0%, 0%, 0.025)
  );
  width: 1em;
}
.cloud:before {
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 0%, 0) 50%,
    hsla(0, 0%, 0%, 0.075)
  );
  height: 1.6em;
  left: 0.4em;
  top: -0.75em;
  width: 1.6em;
}

/* ///////////////////////////////////////////////////////////// */
/* /////////////////////day/night////////////////////// */

@keyframes sun_anime {
  0% {
    transform: translate(0);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate(-48px);
    opacity: 1;
  }
}
.sun_anime {
  animation: sun_anime 0.5s;
  animation-fill-mode: forwards;
}

@keyframes day_anime {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.day_anime {
  animation: day_anime 0.7s;
  animation-fill-mode: forwards;
}

.night {
  width: 100px;
  height: 50px;
  background-color: rgb(48, 29, 110);
  border-radius: 35px;
  border: 5px solid rgb(0, 0, 0);
  cursor: pointer;
}
.moon {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: rgb(233, 233, 207);
  border-radius: 50%;
  top: 2px;
  left: 53px;
  border: 4px solid rgb(170, 167, 152);
}
.moon_sircle1 {
  position: relative;
  width: 7px;
  height: 8px;
  top: 5px;
  background-color: rgb(223, 223, 197);
  border: 4px solid rgb(170, 167, 152);
  border-radius: 40px;
}
.moon_sircle2 {
  position: relative;
  width: 5px;
  height: 4px;
  top: 10px;
  left: 17px;
  background-color: rgb(223, 223, 197);
  border: 4px solid rgb(170, 167, 152);
  border-radius: 40px;
}
.moon_sircle3 {
  position: relative;
  width: 1px;
  height: 1px;
  left: 28px;
  bottom: 20px;
  background-color: rgb(223, 223, 197);
  border: 4px solid rgb(170, 167, 152);
  border-radius: 40px;
}
.star {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
}
.star.star1 {
  bottom: 7px;
  left: 50px;
}
.star.star2 {
  bottom: 45px;
  left: 55px;
  width: 4px;
  height: 4px;
}
.star.star3 {
  bottom: 43px;
  left: 73px;
  width: 3px;
  height: 3px;
}
.star.star4 {
  bottom: 24px;
  left: 80px;
  width: 5px;
  height: 5px;
}
.star.star5 {
  bottom: 55px;
  left: 86px;
  width: 3px;
  height: 3px;
}
.star.star6 {
  bottom: 43px;
  left: 57px;
  width: 3px;
  height: 3px;
}
@keyframes night_anime {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.night_anime {
  animation: night_anime 0.7s;
  animation-fill-mode: forwards;
}
@keyframes moon_anime {
  0% {
    transform: translate(-40px);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translate(-50px);
    opacity: 1;
  }
}
.moon_anime {
  animation: moon_anime 0.2s;
  animation-fill-mode: forwards;
}

@keyframes moon_anime_reverse {
  0% {
    transform: translate(-48px);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate(0);
    opacity: 0;
  }
}
.moon_anime_reverse {
  animation: moon_anime_reverse 0.5s;
  animation-fill-mode: forwards;
}

@keyframes night_anime_reverse {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.night_anime_reverse {
  animation: night_anime_reverse 0.5s;
  animation-fill-mode: forwards;
}
@keyframes sun_anime_reverse {
  0% {
    transform: translate(-30px);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
.sun_anime_reverse {
  animation: sun_anime_reverse 0.2s;
  animation-fill-mode: forwards;
}
@keyframes day_anime_reverse {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.day_anime_reverse {
  animation: day_anime_reverse 0.8s;
  animation-fill-mode: forwards;
}
/* це загальний клас для всього що є в налаштуваннях */
.container_sittings {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7c7c7c;
  border-radius: 15px;
  border: 4px solid black;
  width: 586px;
  height: 460px;
  border-bottom: 7px solid black;
  font-size: 35px;
  font-family: kavoon;
}

/* Цей клас для кнопки назад і тексту */
.container_butback {
  display: flex;
  justify-content: left;
  margin-bottom: -5px;
}

.button_back {
  display: flex;
  width: 55px;
  height: 47px;
  margin-left: -36%;
  margin-top: 5%;
  cursor: pointer;
}

.text_settings {
  display: flex;
  margin-left: 43%;
  margin-top: 3%;
  color: white;
  font-size: 50px;
  font-family: Kavoon;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
}
/* цей для налаштування звуку */
.container_sound {
  display: flex;
  flex-direction: row;
}

.sound_settings {
  display: flex;
  width: 30px;
  height: 45px;
  margin-left: -5%;
  margin-top: 5px;
  cursor: pointer;
}

.zero_to_hundred {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

.block1 {
  width: 38px;
  height: 18px;
  border: 2px solid black;
  background-color: #00ea25;
  margin-top: 4.3%;
}

/*?/////////////////////////////////daynight_button////////////////////////////////////////////// */
.day {
  width: 100px;
  height: 50px;
  background-color: rgb(143, 231, 255);
  border-radius: 35px;
  border: 5px solid rgb(0, 143, 205);
  cursor: pointer;
}
.sun {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: rgb(255, 255, 0);
  border-radius: 50%;
  margin-left: 51px;
  margin-top: 2px;
  border: 4px solid rgb(229, 187, 0);
}

.cloud {
  background-color: #fff;
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 0%, 0),
    hsla(0, 0%, 0%, 0.1)
  );
  border-radius: 1em;
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.5);
  display: inline-block;
  height: 1em;
  right: 66px;
  top: 33px;
  position: relative;
  width: 40px;
  cursor: pointer;
  z-index: 1;
}
.cloud:after,
.cloud:before {
  background-color: #fff;
  content: "";
  border-radius: 100%;
  position: absolute;
}
.cloud:after {
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 0%, 0) 50%,
    hsla(0, 0%, 0%, 0.025)
  );
  height: 1em;
  right: 0.4em;
  top: -0.5em;
  width: 1em;
}
.cloud:before {
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 0%, 0) 50%,
    hsla(0, 0%, 0%, 0.075)
  );
  height: 1.6em;
  left: 0.4em;
  top: -0.75em;
  width: 1.6em;
}
.container_daynight {
  width: 100%;
  display: flex;
  margin-top: 90px;
  justify-content: space-around;
}

.night {
  width: 100px;
  height: 50px;
  background-color: rgb(48, 29, 110);
  border-radius: 35px;
  border: 5px solid rgb(0, 0, 0);
  cursor: pointer;
}

.day_anime_reverse {
  animation: day_anime_reverse 0.8s;
  animation-fill-mode: forwards;
}
.container_customise_day {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7c7c7c;
  border-radius: 15px;
  border: 4px solid black;
  width: 586px;
  height: 460px;
  border-bottom: 7px solid black;
  font-size: 35px;
  font-family: kavoon;
}

.container_customise_night {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #383838;
  border-radius: 15px;
  width: 586px;
  height: 460px;
  border: 4px solid black;
  border-bottom: 7px solid black;
  font-size: 35px;
  font-family: kavoon;
}

.container_butback2 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: -5px;
}

.text_customise {
  display: flex;
  margin-left: 30%;
  margin-top: 2%;
  color: white;
  font-size: 50px;
  font-family: Kavoon;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
}

.bady {
  display: flex;
}

.text_for_bady {
  display: flex;
  margin-top: 5%;
  color: white;
  font-size: 25px;
  font-family: Kavoon;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
}

.skin {
  display: flex;
  justify-content: space-around;
  margin: 10%;
  margin-top: -5%;
}

.button_customise_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(202, 233, 37);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-top: 25%;
  width: 100px;
  height: 23px;
  border: 2.5px solid black;
  cursor: pointer;
}

.strilka {
  color: black;
  font-size: 30px;
  font-family: kavoon;
  margin-bottom: 3px;
}

.button_customise_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(202, 233, 37);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-top: 25%;
  width: 100px;
  height: 23px;
  border: 2.5px solid black;
  cursor: pointer;
}

.text_for_gun {
  margin-top: -8%;
  color: white;
  font-size: 25px;
  font-family: Kavoon;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
}

.guns {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}

.button_customise_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: rgb(202, 233, 37);
  border-radius: 7px;
  border: 2.5px solid black;
  width: 65px;
  height: 23px;
  cursor: pointer;
}

.photo_guns {
  margin: 0px 55px;
}

.button_customise_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: rgb(202, 233, 37);
  border-radius: 7px;
  border: 2.5px solid black;
  width: 65px;
  height: 23px;
  cursor: pointer;
}

.container_customise_night {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #383838;
  border-radius: 15px;
  border: 4px solid black;
  width: 586px;
  height: 460px;
  border-bottom: 7px solid black;
  font-size: 35px;
  font-family: kavoon;
}

/* це загальний клас для всього що є в налаштуваннях */
.container_sittings_day {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7c7c7c;
  border-radius: 15px;
  border: 4px solid black;
  width: 586px;
  height: 460px;
  border-bottom: 7px solid black;
  font-size: 35px;
  font-family: kavoon;
}

.container_sittings_night {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #383838;
  border-radius: 15px;
  border: 4px solid black;
  width: 586px;
  height: 460px;
  border-bottom: 7px solid black;
  font-size: 35px;
  font-family: kavoon;
}

.block1_day {
  width: 38px;
  height: 18px;
  border: 2px solid black;
  background-color: #00ea25;
  margin-top: 4.3%;
}

.circle {
  position: relative;
  width: 30px;
  height: 30px;
  border: 3px solid black;
  border-radius: 50%;
  background-color: #fff;
  margin-top: -20%;
  margin-left: -1040%;
  cursor: pointer;
}

/* для кнопок */
.managment {
  display: flex;
  margin-top: 5%;
}
/* для половини та що зліва */
.for_code {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.text_code {
  margin-bottom: 20px;
  color: white;
  font-size: 25px;
  font-family: Kavoon;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
  margin-left: -35%;
}
/* для того щоб поєднати кнопку з текстом */
.block_for_button {
  display: flex;
  text-align: center;
  margin-left: -40%;
}
/*  сама кнопка */
.button_words_day {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 45px;
  height: 45px;
  border: 3px solid black;
  border-radius: 16px;
  background-color: #fff;
  margin: 2%;
  font-size: 40px;
  font-family: kavoon;
  color: #ff9500;
  user-select: none;
  cursor: default;
  caret-color: transparent;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
}
/* текст для всього */
.text_lineup {
  margin-top: 6%;
  color: white;
  font-size: 20px;
  line-height: 28.58px;
  font-weight: 400px;
  font-family: Kavoon;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
  white-space: nowrap;
  text-align: center;
}
/* для другої половини що з права */
.for_shooting {
  color: white;
  font-size: 25px;
  font-family: Kavoon;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
  margin-left: 17%;
}

.text_shooting {
  margin-bottom: 20px;
  color: white;
  font-size: 25px;
  font-family: Kavoon;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
  margin-left: -15%;
}

.text_lineup2 {
  margin-left: 2%;
  margin-top: 7%;
  color: white;
  font-size: 20px;
  line-height: 28.58px;
  font-weight: 400px;
  font-family: Kavoon;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
  white-space: nowrap;
  text-align: center;
}

.block_for_button2 {
  display: flex;
  margin-left: -20%;
}
.photo_language {
  cursor: pointer;
  margin-top: 5%;
  margin-left: 34%;
}
.change_language {
  display: flex;
  width: 174px;
  height: 162px;
  background-color: gray;
  border-radius: 15px;
  border: 4px solid black;
}
.flags_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  justify-content: space-around;
  cursor: pointer;
}
.english {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  border: 2px solid black;
}
.spanish {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  border: 2px solid black;
}
.polish {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  border: 2px solid black;
}
.flags_text_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.language_text {
  font-size: 20px;
  font-family: kavoon;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
  margin-left: 9px;
}

/* правила */
.rules_container_day {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7c7c7c;
  border-radius: 15px;
  border: 4px solid black;
  width: 510px;
  height: 420px;
  border-bottom: 7px solid black;
  font-size: 35px;
  font-family: kavoon;
}
.settings-language {
  display: flex;
}
.container_rules {
  display: flex;
  flex-direction: column;
  background-color: #7c7c7c;
  border-radius: 15px;
  border: 4px solid black;
  width: 586px;
  height: 460px;
  border-bottom: 7px solid black;
  font-size: 35px;
  font-family: kavoon;
}
.container_butback_rules {
  display: flex;
  justify-content: start;
  margin: 1%;
}
.button_back_rules {
  display: flex;
  width: 55px;
  height: 47px;
  cursor: pointer;
}
.text_buttons {
  display: flex;
}
.left_button_rules_container {
  display: flex;
  justify-content: center;
  align-items: end;
}
.left_button_rules {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: rgb(202, 233, 37);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  width: 60px;
  height: 23px;
  border: 2.5px solid black;
  cursor: pointer;
}
.text_rules {
  display: flex;
  font-size: 30px;
}
.right_button_rules_container {
  display: flex;
  justify-content: center;
  align-items: end;
}
.right_button_rules {
  display: flex;
  justify-content: center;
  margin: 10px;
  align-items: center;
  background-color: rgb(202, 233, 37);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  width: 60px;
  height: 23px;
  border: 2.5px solid black;
  cursor: pointer;
}
